body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column; /* Stack image/header and form vertically */
  height: 100vh;
}

.image-header-section {
  display: flex;
  flex-direction: column; /* Stack image and header vertically */
}

.image-section {
  background-image: url('../../images/restaurant.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh; /* Adjust as needed */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.header p {
  line-height: 1.5;
}

.form-section {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

/* .form-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) ;
} */
.form-group {
  grid-column: 1 / 3; /* Make form-group span both columns */
  display: flex; /* Use flexbox to arrange groups side by side */
  gap: 1.5rem; /* Space between groups */
}
.group1, .group2 {
  flex: 1; /* Distribute space equally */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* .group1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.group2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
} */
.form-section h2 {
  margin-bottom: 1rem;
  grid-column: 1 / 3; 
  grid-row: 1;
}
.form-section p {
  grid-column: 1 / 3;
  grid-row: 2;
}

.form-section label {
  font-weight: bold;
}

.form-section input,
.form-section button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section button {
  grid-column: 1 / 3;
  grid-row: 6;
  background-color: #9e7609;
  color: white;
  cursor: pointer;
}